Source: iceweasel
Section: web
Priority: optional
Maintainer: Eric Dorland <eric@debian.org>
Uploaders: Mike Hommey <glandium@debian.org>
Build-Depends: autotools-dev, debhelper (>= 5.0), imagemagick,
	libgtk2.0-dev (>= 2.8), librsvg2-bin, patch, sharutils, xsltproc,
	zip, xulrunner-dev (>= 1.9~rc2-4)
Build-Conflicts: graphicsmagick-imagemagick-compat
Standards-Version: 3.7.3
Vcs-Git: git://git.debian.org/git/pkg-mozilla/iceweasel.git
Vcs-Browser: http://git.debian.org/?p=pkg-mozilla/iceweasel.git

Package: iceweasel
Architecture: any
Depends: fontconfig, psmisc, procps, debianutils (>= 1.16), ${shlibs:Depends}, xulrunner-1.9 (>= 1.9~rc2-4)
Suggests: xulrunner-1.9-gnome-support, latex-xft-fonts, xfonts-mathml, ttf-mathematica4.1, xprint, mozplugger, libkrb53
Provides: www-browser
Conflicts: mozilla-firefox (<< 1.5.dfsg-1), firefox (<< 2.0+dfsg-1), iceweasel-dom-inspector (<< 3.0~b4)
Replaces: mozilla-firefox, firefox (<< 2.0+dfsg-1), iceweasel-gnome-support (<= 3.0~b5-2)
Description: lightweight web browser based on Mozilla
 Iceweasel is a redesign of the Mozilla browser component, similar to
 Galeon, K-Meleon and Camino, but written using the XUL user interface
 language and designed to be lightweight and cross-platform.
 .
 This browser is based on the Firefox source-code, with minor
 modifications. Historically, this browser was previously known as
 Firebird and Phoenix.

Package: iceweasel-gnome-support
Architecture: all
Section: gnome
Depends: iceweasel, xulrunner-1.9-gnome-support
Provides: gnome-www-browser
Description: Support for GNOME in Iceweasel
 This is an Iceweasel component that allows it to use protocol
 handlers from GnomeVFS, such as smb or sftp, and other GNOME
 integration features.

Package: iceweasel-dbg
Architecture: any
Priority: extra
Section: devel
Depends: iceweasel (= ${binary:Version}), xulrunner-1.9-dbg
Replaces: firefox-dbg
Conflicts: firefox-dbg
Description: debugging symbols for iceweasel
 Iceweasel is a redesign of the Mozilla browser component, similar to
 Galeon, K-Meleon and Camino, but written using the XUL user interface
 language and designed to be lightweight and cross-platform.
 .
 This package contains the debugging symbols for iceweasel.
